.Main {
	width: 100%;
	min-height: 100vh;
}

.Header {
	width: 100%;
	min-height: 6vh;
}
.Header-nav {
	max-width: 1440px;
	width: 80%;
	display: flex;
	margin: auto;
	padding: .6em;
	justify-content: space-between;
	align-items: center;
}

.Header-ul__1 {
	display: flex;
	flex-flow: row nowrap;
	gap: 2em;
	list-style: none;
	transition: all .3s ease;
}
.Header-a {
	display: block;
	transition: all .1s ease-in;
}
.Header-a:hover {
	transform: scale(1.3);
}
.Header-a:active {
	transform: scale(.9);
}


.Header-ul__2 {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	gap: 2em;
}
.Header-btn {
	display: block;
	color: var(--color1);
	background: none;
	padding: .3em;
	border-radius: .3em;
	transition: all .1s ease-in;
	font-family: var(--fuenteSec);
	font-weight: bold;
	font-size: .9em;
	cursor: pointer;
}
.Header-btn:hover {
	transform: rotateX(-10deg);
	box-shadow: .1em .2em .2em var(--color1);
}

.Header-svg {
	fill: var(--color3);
	width: 1.5em;
	height: auto;
}


.Home {
	width: 100%;
	min-height: calc(100vh - 10vh);	
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: 1em;

}
.Home-h1 {
	font-family: var(--fuentePr);
	font-size: 2.4em;
	color: #606060;
	margin-top: -1em;
}
.Home-h2 {
	font-size: 2.2em;
	font-family: var(--fuentePr);
	color: #606060;
	transform: translateX(.4em);
}


/* RESPONSIVE HOME & HEADER */

@media only screen and (max-width: 768px) {
	.Header-nav {
		width: 90%;
	}

	.Header-btn, .Header-svg {
		margin-top: .5em;
	}
	.Home {
		min-height: calc(100vh - 8vh);
	}
}

@media only screen and (max-width: 480px) {
	.Header-nav {
		flex-flow: column nowrap;
	}
	.Header-ul__1 {
		display: none;
	}
	.Header-ul__2 {
		gap: 10em;
	}
	.Header-btn, .Header-svg {
		margin-top: .5em;
	}
}

@media only screen and (max-width: 340px) {
	.Header-ul__2 {
		gap: 2em;
	}
}