.Nf {
    background: rgba(240,240,240,.5);
    width: 50%;
    position: absolute;
    padding: 1em;
    border-radius: 1em;
    border-top-right-radius: 0em;
    right: 15%;
    
    &-p {
        font-size: 1.2em;
    }

    & img {
        display: inline-block;
        position: fixed;
        width: 50%;
        bottom: 30%;
        left: 27%;
        border-radius: 1em;
        box-shadow: 0 0 .6em #f0f;
        
    }
}