@use "../mixins";

.Projects {
  width: 100%;
  @include mixins.flex(row, space-between, flex-start);
  padding: 1em;
  gap: 4em;
  &-btn {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 5%;
    backdrop-filter: blur(1em);
    padding: 0.7em;
    border-radius: 50%;
    cursor: pointer;
    .Btn-svg {
      fill: #9932cc;
      width: 2em;
      height: auto;

      &:hover {
        filter: brightness(1.2);
        filter: drop-shadow(0 0 0.1em #9932cc);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  .Container {
    @include mixins.flex(column, left, center);
    gap: 1em;
    width: 60%;
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
    // RESPONSIVE
    @media (max-width: 900px) {
      width: 90%;
    }
    .Repo {
      @include mixins.flex(column, center, center);
      max-width: 80%;
      width: 100%;
      gap: 0.5em;
      padding: 0.5em;
      border: 2px solid #fff;
      border-radius: 1em;

      &-container--left {
        width: 70%;
        @include mixins.flex(column, space-around, center);
        gap: 0.3em;
        .Repo-title {
          font-size: 1.1em;
          text-transform: capitalize;
        }
        .Repo-description {
          text-align: left;
        }
      }

      &-state {
        width: 100%;
        padding: 0.9em;
        @include mixins.flex(column, space-evenly, center);
        border: 1px solid #f0f;
        border-radius: 1em;
        gap: 1em;

      }
      &-info {
        @include mixins.flex(row, space-around, flex-start);
        gap: 1em;
        text-transform: capitalize;
        @media (max-width: 360px) {
          @include mixins.flex(column, center, center) 
         }

        & li {
          @include mixins.flex(column, center, center);
          gap: 0.2em;
        }
      }
      &-links {
        width: 100%;
        @include mixins.flex(row nowrap, space-evenly, center);
      }
      &-a {
        display: block;
      }
      &-svg--link {
        width: 1.5em;
        height: auto;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.2);
          filter: drop-shadow(0 0em 0.1em #fff);
        }
        &:active {
          transform: scale(0.9);
        }
      }
      .divisor {
        width: 50%;
        opacity: 0.5;
      }
    }
  }

  .Container-right {
    width: 40%;
    @include mixins.flex(column, center, center);
    text-align: center;
    background: #5c0075;
    box-shadow: -1em -.9em 1em #6f008e;
    border-radius: 2em;
    z-index: -1;
    @media (max-width: 900px) {
      display: none;
    }
    &-images {
      width: 18em;
      & svg {
        fill: rgba(240,240,240,.7);
      }
    }
    &-h3 {
      font-size: 110%;
    }
  }
}

::-webkit-scrollbar {
  background: #5c0075;
  width: .5em;
  border-radius: 8%;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1em;
}